body {
  background: #222;
}
#gameContainer {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 370px;
    height: 650px;
    cursor: none;
}

@font-face {
  font-family: 'Minecraftia-Regular';
  src: url('build/font/Minecraftia-Regular.eot?#iefix') format('embedded-opentype'),  url('build/font/Minecraftia-Regular.woff') format('woff'), url('build/font/Minecraftia-Regular.ttf')  format('truetype'), url('build/font/Minecraftia-Regular.svg#Minecraftia-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
